 .app{
  
}
.main{
    width:100%;  


}
 .service_main{
    width:100%;
  
    height: 600px;
  display:flex;
  background-color:#444545;
  

}
.Services{
  
    width:50%;
    
    background-color:#444545;
   display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
      text-align: left;

}
.Services_image{
    /* width:50vw; */
    /* height:100vh; */
}

/* .cloud{
    display:flex;
    justify-content: space-between;
    background-color: blue;;
} */
.image-grid {
  
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 30%;
    /* Center container */
    /* margin: 0 auto; */
  }
  .grid-image {

    width: 200px;
    position: relative;
    /* images display inline by default and act like text. We want them to act like divs, so display block */
    display: block;
    /* border-radius: 22px; */
    /* our width setting for mobile, one image per line */
    flex-basis: 100%;
    /* provide some space between our images */
    padding:20px;
    /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
    box-sizing: border-box;
  }
  .detail{

    position: relative;
    z-index: 3;
    width:100px;
    font-size: 15px;
    
   
    bottom: 50px;
    left: 6vw;
    right:left;
  }
  .service_p{
    font-size: 15px;
    text-align: left;
    color: white;
 font-family: "roboto";
    padding-top:20px ;
  }
  .sevicesimg_1{
    padding-top: 20px;
  }
  .services_h1{
  font-size: 40px;
    color: white;
    padding-top: 20px;
    font-family: 'roboto';

  }
   
  /* increase images per line as browser gets larger using media queries
     this first query makes two images per line at 640px width */
  @media only screen and (min-width: 640px) {
    .grid-image {
      flex-basis: 50%;
    }
  }
   
  /* three images per line when browser width exceeds 960px */
  @media only screen and (min-width: 960px) {
    .grid-image {
      /* flex-basis: 33.333%; */
    }
  }
   
  /* four images per line when browser width exceeds 1280px */
  @media only screen and (min-width: 1280px) {
    .grid-image {
      flex-basis: 25%;
    }
  }
   
  /* five images per line when browser width exceeds 1600px */
  @media only screen and (min-width: 1600px) {
    .grid-image {
      flex-basis: 20%;
    }
  }
  .card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color:rgb(68, 69, 69);
    padding: 10px;
   
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  
  .item {
    background-color:#229958;
    color: white;
    text-align: center;
    width:30vw;


   
    /* font-size: 30px; */
  }
  .service_background{
 
  }

  .grid-container > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw;
  
  }

  
  .item1 {
    grid-row-end: span 3;
    background-color:  #72818b;
     
      /* height:30vh */
   
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: rgb(68, 69, 69);

    padding: 10px;
 
  }
  
  .grid-container2 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw;
  
  }
  
  .itm1 {
background-color: #72818b;
    grid-row-end: span 3;

  
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: rgb(68, 69, 69);
    padding: 10px;
  }
  
  .grid-container3 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw; 
   
  }
  
  .itm31 {
  
    grid-row-end: span 3;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color:rgb(68, 69, 69);
    padding: 10px;
  }
  
  .grid-container4 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw; 
    
  }
  .inner__text{
    position: absolute;
    bottom: 19vh;
    left:12vw;
  }
  
  .itm41 {
    grid-row-end: span 3;
  }
  @media only screen and (max-width: 912px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom:1.9vh;
      left: 1vw;
      right:left;
    }
  }
  @media only screen and (max-width: 540px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom:2.7vh;
      left: 14vw;
      right:left;
    }
  }

  @media only screen and (max-width: 414px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom: 3.4vh;
      left: 16vw;
      right:left;
    }
    
  }
  .img_background{
    width:28vw;
    height:40vh;
    opacity:0.4;

  }
.background_img_div{
  background-color: 'black';
}
@media only screen and (max-width: 412px) {

  .img_background{
  
    width:100px;
    height:40vh;
    opacity:0.4;


  }
  .inner__text{
    width:30px
  }
  .dynamic{
    font-size: 15px;
  }

}
.line2{
  border: 1px solid #229958;
  width:120px;
  margin-top: 10px;
  
}
.Service1_div
{
  height: 180px;
  padding: 10px;
  border: none;
  border-radius: 22px;
}
.Service1_button{
  position: absolute;
  bottom: 10px;
  left: 60px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 22px;
border-top-right-radius: 2px;
  padding: 15px;
 padding-left: 20;
font-size: 15px;
font-family: 'roboto';
color: black;

}
.Service2_div{
  height: 180px;
  padding: 10px;
  border-radius: 22px;
  border: none;
}
.Service2_button
{
  position: absolute;
  bottom: 10px;
  left: 60px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 22px;
border-top-right-radius: 2px;
  padding: 15px;
 padding-left: 20;
font-size: 15px;
font-family: 'roboto';
color: black;
 
}
.Service3_div{
  height: 150px;
  padding: 10px;
  border-radius: 22px;
  border: none;
}
.Service3_button{
  position: absolute;
  bottom: 7px;
  left: 60px;
  background: white;
  width: 150px;
  height: 50px;
border-top-left-radius: 22px;
border-top-right-radius: 2px;
  padding: 15px;
 padding-left: 20;
font-size: 15px;
font-family: 'roboto';
color: black;

}
.Service4_div{
  height: 152px;
  padding: 10px;
  width: 250px;
  border-radius: 22px;
  border: none;
}
.Service4_button{
  position: absolute;
  bottom: 7px;
  left: 60px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 22px;
border-top-right-radius: 2px;
  padding: 15px;
 padding-left: 20;
font-size: 15px;
font-family: 'roboto';
color: black;
}
@media only screen and (max-width: 1223px) {
  .Service1_div
{
  height: 160px;
  padding: 10px;
  border: none;
}

  .Service1_button{
    position: absolute;
    bottom: 25px;
    left: 60px;
    background: white;
    width: 130px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 170px;
    padding: 10px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 60px;
    background: white;
    width: 150px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service3_div{
    height: 140px;
    padding: 10px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 7px;
    left: 60px;
    background: white;
    width: 150px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
 
  }
  .Service4_div{
    height: 152px;
    padding: 10px;
    width: 250px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 60px;
    background: white;
    width: 150px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }

}
@media only screen and (max-width: 1110px) {
  .image-grid {
  
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 60%;
    /* Center container */
    /* margin: 0 auto; */
  }
}
@media only screen and (max-width: 936px) {
.Service1_div
{
  height: 140px;
  padding: 10px;
  border: none;
}
  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background: white;
    width: 130px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 40px;
    background: white;
    width: 130px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 60px;
    background: white;
    width: 130px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
    
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 220px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 40px;
    background: white;
    width: 130px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
  
  }
}
@media only screen and (max-width: 768px) {
  .Service1_div
{
  height: 130px;
  width:160px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 30%;
  
}

  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background: white;
    width: 100px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 40px;
    background: white;
    width: 100px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 40px;
    background: white;
    width: 90px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 13px;
  font-family: 'roboto';
   
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 30px;
    background: white;
    width: 110px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
}
@media only screen and (max-width: 768px) {
  .Service1_div
{
  height: 130px;
  width:160px;
  padding: 10px;
  border: none;
}

  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background: white;
    width: 100px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
  
  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 40px;
    background: white;
    width: 100px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
  
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 40px;
    background: white;
    width: 90px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 13px;
  font-family: 'roboto';

  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 30px;
    background: white;
    width: 110px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
}
@media only screen and (max-width: 665px) {
  .Service1_div
{
  height: 130px;
  width:160px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 60%;
  
}

  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background: white;
    width: 100px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
    
  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 40px;
    background: white;
    width: 100px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
  
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 40px;
    background: white;
    width: 90px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 13px;
  font-family: 'roboto';
    
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 30px;
    background: white;
    width: 110px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
    
  }
}
@media only screen and (max-width: 554px) {
  .Service1_div
{
  height: 130px;
  width:160px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 65%;
  
}

  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 40px;
    background: white;
    width: 100px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 40px;
    background: white;
    width: 100px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
 
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 40px;
    background: white;
    width: 90px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 13px;
  font-family: 'roboto';
 
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 30px;
    background: white;
    width: 110px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 23px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
   
  }
}
@media only screen and (max-width: 507px) {
  .Service1_div
{
  height: 130px;
  width:130px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 60%;

  
}

  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 20px;
    background: white;
    width: 80px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
   
  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:120px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 20px;
    background: white;
    width: 80px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 12px;
  font-family: 'roboto';
  
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:130px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 40px;
    background: white;
    width: 70px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 15px;
   padding-left: 20;
  font-size: 9px;
  font-family: 'roboto';
   
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 30px;
    background: white;
    width: 110px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
  
  }
}
@media only screen and (max-width: 492px) {
.Service1_div
{
  height: 130px;
  width:130px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 60%;

  
}
.service_p{
  font-size: 10px;
  text-align: left;
  color: white;
font-family: "roboto";
  padding-top:20px ;
}
.sevicesimg_1{
  padding-top: 20px;
  width:'10px'
}
.services_h1{
font-size: 30px;
  color: white;
  padding-top: 20px;
  font-family: 'roboto';

}
  .Service1_button{
    position: absolute;
    bottom: 8px;
    left: 20px;
    background: white;
    width: 80px;
    height: 50px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:120px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 20px;

    width: 80px;
    height: 44px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 15px;
   padding-left: 20;
  font-size: 12px;
  font-family: 'roboto';
  
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:130px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 20px;

    width: 80px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 15px;
   padding-left: 20;
  font-size: 9px;
  font-family: 'roboto';

  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 120px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 80px;
    height: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
    padding: 15px;
   padding-left: 20;
  font-size: 12px;
  font-family: 'roboto';
    
  }
}
@media only screen and (max-width: 445px) {
  .Service1_div
  {
    height: 130px;
    width:130px;
    padding: 10px;
    border: none;
  }
  .image-grid {
    
    
    display: flex;
  
    flex-wrap: wrap;
    width: 60%;
  
    
  }
  .service_p{
    font-size: 10px;
    text-align: left;
    color: white;
  font-family: "roboto";
    padding-top:20px ;
  }
  .sevicesimg_1{
    padding-top: 20px;
    width:110px;
  }
  .services_h1{
  font-size: 30px;
    color: white;
    padding-top: 20px;
    font-family: 'roboto';
  
  }
  .Service1_button{
      position: absolute;
      bottom: 8px;
      left: 20px;

      width: 80px;
      height: 50px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
      padding: 15px;
     padding-left: 20;
    font-size: 15px;
    font-family: 'roboto';
      
    }
    .Service2_div{
      height: 140px;
      padding: 10px;
      width:120px;
      border: none;
    }
    .Service2_button
    {
      position: absolute;
      bottom: 5px;
      left: 20px;
  
      width: 80px;
      height: 44px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
      padding: 15px;
     padding-left: 20;
    font-size: 12px;
    font-family: 'roboto';
      
     
    }
    .Service3_div{
      height: 120px;
      padding: 10px;
      width:130px;
      border: none;
    }
    .Service3_button{
      position: absolute;
      bottom: 6px;
      left: 20px;
    
      width: 80px;
      height: 40px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
      padding: 15px;
     padding-left: 20;
    font-size: 9px;
    font-family: 'roboto';
    
    }
    .Service4_div{
      height: 120px;
      padding: 10px;
      width: 120px;
      border: none;
    }
    .Service4_button{
      position: absolute;
      bottom: 7px;
      left: 20px;
    
      width: 80px;
      height: 40px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
      padding: 15px;
     padding-left: 20;
    font-size: 12px;
    font-family: 'roboto';
 
    }
  }
  



@media only screen and (max-width: 393px) {
  .Service1_div
{
  height: 130px;
  width:100px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  /*  width: 20%; */


  
}

.Service1_button{
    position: absolute;
    bottom: 10px;
    left:15px;
   
 
    width: 50px;
    height: 25px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 10px;
   padding-left: 20;
  font-size: 8px;
  font-family: 'roboto';
    background:white;
    color:black;
  }
  .Service2_div{
    height: 140px;
    width:100px;
    padding: 10px;  
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    width: 60px;
    height: 30px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 10px;
   padding-left: 20;
  font-size: 8px;
  font-family: 'roboto';
 
    color:black;
  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:100px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 6px;
    left: 20px;
    background: white;
    width: 50px;
    height: 25px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 10px;
   padding-left: 20;
  font-size: 6px;
  font-family: 'roboto';

    color:black;
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width:100px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 20px;
    background: white;
    height: 25px;
    width: 50px;

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
    padding: 10px;
   padding-left: 20;
  font-size: 7px;
  font-family: 'roboto';

    color:black;
  }
  .service_p{
    font-size: 8px;
    text-align: left;
    color: white;
 font-family: "roboto";
    padding-top:20px ;
  }
  .sevicesimg_1{
    padding-top: 10px;
  }
  .services_h1{
  font-size: 20px;
    color: white;
    padding-top: 20px;
    font-family: 'roboto';

}
}





  
