 .app{
  
}
body{
  font-family: 'roboto';
}
.main{
    width:100%;  


}
 .service_main{
    width:100%;
  
    height: 600px;
  display:flex;
  background-color:#229958;
  

  
}
.Services_inner{
  width: 70%;
}
.Servicesbackground
{
    height: 89vh;
    background-image: url("../image/Servcies_background_image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    width:100%;
  } 
  /* .Servicesbackground::after{
    background-image: url("../image/mask_service_background.svg");
    content: '';
    display: block;
    height: 89vh;
    position: absolute;
    width: 100%;
  } */
  .Servicesbackground::before{
background-color:       rgba(0, 0, 0, 0.79);;
    content: '';
    display: block;
    height: 89vh;
    position: absolute;
    width: 100%;
  }
  @media only screen and (min-width:100px) {
    .Servicesbackground{
      background-position: center;
    }
  }
.Services{
  
    width:50%;
    
    background-color:#229958;
   display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
      text-align: left;
      padding-left: 13%;

}
.Services_image{
    /* width:50vw; */
    /* height:100vh; */
}

/* .cloud{
    display:flex;
    justify-content: space-between;
    background-color: blue;;
} */
.image-grid {
  
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 50%;
    padding-left: 2%;
    /* Center container */
    /* margin: 0 auto; */
  }
  .grid-image {

    width: 200px;
    position: relative;
    /* images display inline by default and act like text. We want them to act like divs, so display block */
    display: block;
    /* border-radius: 22px; */
    /* our width setting for mobile, one image per line */
    flex-basis: 100%;
    /* provide some space between our images */
    padding:20px;
    /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
    box-sizing: border-box;
  }
  .detail{

    position: relative;
    z-index: 3;
    width:100px;
    font-size: 15px;   
    bottom: 50px;
    left: 6vw;
    right:left;
  }
  .service_p{
    font-size: 15px;
    text-align:justify;
    color: white;
 font-family: "roboto";
    padding-top:20px ;
    line-height: 20px;
  }
  .sevicesimg_1{
    padding-top: 20px;
  }
  .services_h1{
  font-size: 45px;
    color: white;
    padding-top: 20px;
    font-family: 'roboto';

  }
  .Services_button{
    width: 160px;
    height: 51px;
    font-size: 16px;
    background-color: white;
    color: rgb(34, 153, 88);
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    font-family: "roboto";
    border-radius: 10px;
    cursor: pointer;
  }
   
  /* increase images per line as browser gets larger using media queries
     this first query makes two images per line at 640px width */
  @media only screen and (min-width: 640px) {
    .grid-image {
      flex-basis: 50%;
    }
  }
   
  /* three images per line when browser width exceeds 960px */
  @media only screen and (min-width: 960px) {
    .grid-image {
      /* flex-basis: 33.333%; */
    }
  }
   
  /* four images per line when browser width exceeds 1280px */
  @media only screen and (min-width: 1280px) {
    .grid-image {
      flex-basis: 25%;
    }
  }
   
  /* five images per line when browser width exceeds 1600px */
  @media only screen and (min-width: 1600px) {
    .grid-image {
      flex-basis: 20%;
    }
 
  }
  @media only screen and (max-width: 1660px) {
    .grid-image {
      flex-basis: 20%;
    }

 
  }
  .card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color:rgb(68, 69, 69);
    padding: 10px;
   
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  
  .item {
    background-color:#229958;
    color: white;
    text-align: center;
    width:30vw;


   
    /* font-size: 30px; */
  }
  .service_background{
 
  }

  .grid-container > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw;
  
  }

  
  .item1 {
    grid-row-end: span 3;
    background-color:  #72818b;
     
      /* height:30vh */
   
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: rgb(68, 69, 69);
    padding: 10px;
 
  }
  
  .grid-container2 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw;
  
  }
  
  .itm1 {
background-color: #72818b;
    grid-row-end: span 3;

  
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color: rgb(68, 69, 69);
    padding: 10px;
  }
  
  .grid-container3 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw; 
   
  }
  
  .itm31 {
  
    grid-row-end: span 3;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    background-color:rgb(68, 69, 69);
    padding: 10px;
  }
  
  .grid-container4 > div {
    background-color:#229958;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    width:30vw; 
    
  }
  .inner__text{
    position: absolute;
    bottom: 19vh;
    left:12vw;
  }
  
  .itm41 {
    grid-row-end: span 3;
  }
  @media only screen and (max-width: 1669px) {


    .img_background{
    
      width:100px;
      height:40vh;
      opacity:0.4;
  
  
    }
    .inner__text{
      width:30px
    }
    .dynamic{
      font-size: 15px;
    }
  
  }
  @media only screen and (max-width: 912px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom:1.9vh;
      left: 1vw;
      right:left;
    }
  }
  @media only screen and (max-width: 540px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .Services_button{
      width: 80px;
      height: 45px;
      background-color: white;
      color: rgb(34, 153, 88);
      border-radius: 10px;
      border: none;
      margin-top: 40px;
      font-family: "roboto";
      font-size: 10px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom:2.7vh;
      left: 14vw;
      right:left;
    }
  }

  @media only screen and (max-width: 414px) {
    .grid-image {
      width:30vw;
      margin-left: 20px;
    }
    .detail{

      position: relative;
      z-index: 3;
      width:10vw;
      font-size: 1vw;
      
     
      bottom: 3.4vh;
      left: 16vw;
      right:left;
    }
    
  }
  .img_background{
    width:28vw;
    height:40vh;
    opacity:0.4;

  }
.background_img_div{
  background-color: 'black';
}
@media only screen and (max-width: 412px) {

  .img_background{
  
    width:100px;
    height:40vh;
    opacity:0.4;


  }
  .inner__text{
    width:30px
  }
  .dynamic{
    font-size: 15px;
  }

}
.line2{
  border: 1px solid #229958;
  width:120px;
  margin-top: 10px;
  
}
.line_Services{
  margin-top: 10px;
  margin-left: 2px;
  /* border: 1px solid #229958; */
  width: 120px;
}
.Service1_div
{
  height: 200px;
  
  padding: 10px;
  border: none;
  width: 300px;
  border-radius: 22px;
}
.Service1_button{
  position: absolute;
  bottom: 10px;
  left: 70px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
  padding: 15px;
 padding-left: 22px;
 text-align: center;
font-size: 15px;
font-family: 'roboto';
color: black;
cursor: pointer;

}
.Service2_div{
  height: 199px;
  padding: 10px;
  border-radius: 22px;
  border: none;
  width: 294px;
}
.Service2_button
{
  position: absolute;
  bottom: 10px;
  left: 70px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
  padding: 15px;
  padding-left: 22px;
font-size: 15px;
font-family: 'roboto';
text-align: center;
color: black;
cursor: pointer;
 
}
.Service3_div{
  height: 179px;
  padding: 10px;
  width: 290px;
  border-radius: 22px;
  border: none;
  width: 299px;
}
.Service3_button{
  position: absolute;
  bottom: 7px;
  left: 70px;
  background: white;
  width: 150px;
  height: 50px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
text-align: center;
  padding: 15px;
  cursor: pointer;

  padding-left: 22px;
font-size: 15px;
font-family: 'roboto';
color: black;

}
.Service4_div{
  height: 181px;
  padding: 10px;
  width: 295px;
  border-radius: 22px;
  border: none;
}
.Service4_button{
  position: absolute;
  bottom: 7px;
  left: 70px;
  background: white;
  width: 150px;
  height: 40px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
  padding: 15px;
  padding-left: 35px;
font-size: 15px;

font-family: 'roboto';
color: black;
cursor: pointer;
}
@media only screen and (max-width: 1223px) {
  .Service1_div
{
  height: 160px;
  padding: 10px;
  width: 247px;
  border: none;
}

  .Service1_button{
    position: absolute;
    bottom: 15px;
    left: 60px;
    background: white;
    width: 130px;
    height: 40px;
  /* border-top-left-radius: 22px;
  border-top-right-radius: 2px; */
    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 170px;
    padding: 10px;
    width: 247px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 5px;
    left: 48px;
    background: white;
    width: 150px;
    height: 40px;

    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }
  .Service3_div{
    height: 140px;
    padding: 10px;
    border: none;
    width: 247px;
  }
  .Service3_button{
    position: absolute;
    bottom: 7px;
    left: 60px;
    background: white;
    width: 130px;
    text-align: center;
    height: 50px;

    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';
 
  }
  .Service4_div{
    height: 152px;
    padding: 10px;
    width: 247px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    text-align: center;
    bottom: 7px;
    left: 58px;
    background: white;
    width: 140px;
    height: 40px;

    padding: 15px;
   padding-left: 20;
  font-size: 15px;
  font-family: 'roboto';

  }

}
@media only screen and (max-width: 1669px) {
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 2%;
    /* margin: 0 auto; */
}
.Services {
  width: 50%;
  background-color: #229958;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 8%;
}
}
@media only screen and (max-width: 1317px) {
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 2%;
    /* margin: 0 auto; */
}
.Services {
  width: 50%;
  background-color: #229958;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
 
}
}
@media only screen and (max-width: 1110px) {
  .image-grid {
  
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 100%;
    /* Center container */
    /* margin: 0 auto; */
  }
  .service_p {
    font-size: 12px;
    text-align: LEFT;
    color: white;
    font-family: "roboto";
    padding-top: 20px;
    line-height: 20px;
}
}
@media only screen and (max-width: 875px) {
  .Service1_div
{
  height: 130px;
  width:160px;
  padding: 10px;
  border: none;
}
.image-grid {
  
  
  display: flex;

  flex-wrap: wrap;
  width: 30%;
  
}

  .Service1_button{
    position: absolute;
    bottom: 20px;
    left: 40px;
    background: white;
    width: 100px;
    height: 30px;

    padding: 15px;
   padding-left: 20;
  font-size: 10px;
  font-family: 'roboto';

  }
  .Service2_div{
    height: 140px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service2_button
  {
    position: absolute;
    bottom: 13px;
    left: 40px;
    background: white;
    width: 100px;
    height: 30px;

    padding: 15px;
   padding-left: 20;
  font-size: 10px;
  font-family: 'roboto';

  }
  .Service3_div{
    height: 120px;
    padding: 10px;
    width:160px;
    border: none;
  }
  .Service3_button{
    position: absolute;
    bottom: 11px;
    left: 40px;
    background: white;
    width: 90px;
    height: 35px;

    padding: 15px;
   padding-left: 20;
  font-size: 10px;
  font-family: 'roboto';
   
  }
  .Service4_div{
    height: 120px;
    padding: 10px;
    width: 160px;
    border: none;
  }
  .Service4_button{
    position: absolute;
    bottom: 7px;
    left: 40px;
    background: white;
    width: 90px;
    height: 30px;

    padding: 15px;
   padding-left: 20;
  font-size: 10px;
  font-family: 'roboto';

  }
}
@media only screen and (max-width: 760px) {
  .service_main {
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
    background-color: #229958;
 
}

element.style {
}
.line_Services {
    margin-top: 10px;
    margin-left: 2px;
    /* border: 1px solid #229958; */
    width: 160px;
}
.Services_inner{
  width: 100%;
  display: contents
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 50px;
}
.Services {
  width: 100%;
  background-color: #229958;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}


}
@media only screen and (max-width: 575px) {
  .service_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #229958;
 
}
.Services_inner{
  width: 100%;
  display: contents
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 50px;
  margin-right: 45px;
}
.Services {
  width: 100%;
  background-color: #229958;
  display: flex;
  justify-content: center;

}


}
@media only screen and (max-width: 537px) {

.upper_second_div {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-left: 20px;
}
.outer_upper_div {
  width: 40%;
  padding-right: 50px;
  margin-top: 30px;
  margin-left: 70px;
}


}
@media only screen and (max-width: 506px) {
  .service_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
    background-color: #229958;
 
}
.Services_inner{
  width: 100%;
  display: contents
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 50px;
  margin-right: 75px;
}
.Services {
  width: 100%;
  background-color: #229958;
  display: flex;
  justify-content: center;

}



}
@media only screen and (max-width: 450px) {
  .service_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #229958;
 
}
.Services_inner{
  width: 100%;
  display: contents
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 50px;
  margin-right: 155px;
}
.Services {
  width: 100%;
  background-color: #229958;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}



}

.Services_detail{
  width: 100%;
  background-color: #444545;
  font-family: 'roboto';
  padding-top: 50px;
 
}
.CloudServices{
  width: 100%;
  display: block;
  padding-bottom:50px;


}
.outer_upper_div{
  width: 40%;
  padding-right: 50px;
  margin-top: 30px;
}
.upper_second_div{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.ERPIntegration{
  width: 100%;
  display: flex;
  padding: 30px;

padding: 50px;
  padding-left: 160px;
}
.CloudServices_div1
{ 
  width: 35%;
  background-color: red;
}
.img_service_detail{
  
  width: 400px;
  height: 280px;
  border-radius: 20px;
  opacity: 0.4;

}


.img_service_detail::before{
  background-color: black;
}



.CloudServices_div2{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
 
}
.CloudServices_div2_1{
  display: block;
  position: relative;

  /* our width setting for mobile, one image per line */
 
  /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
  box-sizing: border-box;

}
.search_div
{
  position: absolute;
  bottom: 40%;
  width: 120px;
  left: 33%;
  text-align: center;
}
.search_upper_div{
  position: relative;
}
.search_icon{
  position: absolute;
  left: 20px;
  top: 24px;
  width: 30px;
}


.h1_servcies_detail{
  font-size: 30px;
  color: white;
}
.line_Services-detail{
  border: 1px solid #229958;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 16px;
  color: #C8C8C8;
  line-height: 1.6;
  text-align: left;
  
}
.h1_search_div{
  font-size: 15px;
  color: white;

  padding-left: 13px;
  
 

}
.search_upper_img{
  width: 58px;
margin-top: 10px;
margin-left: 10px;
}


@media only screen and (max-width: 2560px) {

  .img_service_detail{
    width:500px;
    height: 250px;
    border-radius: 20px;
  }
  .search_upper_img{
    width: 58px;
  margin-top: 10px;
 

  }
  .search_icon{
    position: absolute;
 
    top: 24px;
    width: 30px;
    left: 50px;
    cursor: pointer;
  }
  .h1_search_div{
    font-size: 16px;
    color: white; 
    padding-left: 13px;  
  }

}
@media only screen and (max-width: 2200px) {
 
  .img_service_detail{
    width: 320px;
    height:290px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 1600px) {
 
  .img_service_detail{
    width: 320px;
    height:290px;
    border-radius: 20px;
  }

}
@media only screen and (max-width: 1390px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:230px;
    height:260px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 1286px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:270px;
    height:260px;
    border-radius: 20px;
  }
  .search_upper_img{
    width: 45px;
  margin-top: 10px;
  margin-left: 5px;
  }
  .search_icon{
    position: absolute;
    left: 51px;
    top: 24px;
    width: 20px;
  }
  .h1_search_div{
    font-size: 15px;
    color: white;
  
    padding-left: 13px;
    
   
  
  }

}
@media only screen and (max-width: 1286px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:240px;
    height:240px;
    border-radius: 19px;
  }
}
@media only screen and (max-width: 1180px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:250px;
    height:230px;
    border-radius: 20px;
  }
  .CloudServices {
    width: 100%;
    display: flex;
    padding: 30px;
    /* padding: 50px; */
    /* padding-left: 160px; */
}
.search_upper_img{
  width: 45px;
margin-top: 10px;
margin-left: 5px;
}
.search_icon{
  position: absolute;
  left: 51px;
  top: 24px;
  width: 20px;
}
.h1_search_div{
  font-size: 15px;
  color: white;

  padding-left: 13px;
  
 

}
.search_div {
  position: absolute;
  bottom: 40%;
  width: 120px;
  left: 23%;
  text-align: center;
}
}
@media only screen and (max-width: 1160px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:220px;
    height:220px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1029px) {
  .CloudServices_div2_1 {

    flex-basis: 20%;
  }
  .img_service_detail{
    width:180px;
    height:190px;
    border-radius: 20px;
  }
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
}


}
@media only screen and (max-width: 978px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  .img_service_detail{
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;

  }
  .outer_upper_div {
    width: 100%;
}
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  

}
.CloudServices_div2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

}
.CloudServices_div2_1 {
 

}
.search_icon {
  position: absolute;
  left: 20px;
  top: 24px;
  width: 20px;
}

.p_servcies_detail {
  font-size: 12px;
  margin-top: 20px;
  text-align: justify;
  color: #C8C8C8;
  word-spacing: 2px;
  text-align: left;
}
.line_Services-detail {
  border: 1px solid #008000;
  /* width: 100px; */
  /* margin-top: 20px; */
  /* align-content: center; */
  text-align: center;
  margin: 19px auto;
}
.h1_search_div{
  font-size: 15px;
}
.search_div {
  position: absolute;
  bottom: 30%;
  left: 40%;
  width: 70px;
}

}
@media only screen and (max-width: 705px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  .img_service_detail{
    width: 350px;
    border-radius: 20px;
  }
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align:left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}
.CloudServices{
  width: 100%;
  display: flex;
  padding: 30px;
align-self: center;
padding: 50px;
/* padding-left: 160px; */

}


}
@media only screen and (max-width: 631px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  .img_service_detail{
    width: 300px;
    border-radius: 20px;
  }
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}


}
@media only screen and (max-width: 571px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  .img_service_detail{
    width: 250px;
    border-radius: 20px;
  }
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}
.CloudServices{
  width: 100%;
  display: flex;
  padding: 30px;
align-self: center;
padding: 50px;
/* padding-left: 160px; */

}


}
@media only screen and (max-width: 505px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  /* .img_service_detail{
    width: 200px;
    border-radius: 20px;
  } */
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}


}
@media only screen and (max-width: 459px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  /* .img_service_detail{
    width: 170px;
    border-radius: 20px;
  } */
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}
.h1_search_div {
  font-size: 13px;
}


}
@media only screen and (max-width: 401px) {
  .CloudServices_div2_1 {

    flex-basis: 100%;
  }
  .img_service_detail{
    width: 200px;
    border-radius: 20px;
  }
  
.h1_servcies_detail{
  font-size: 30px;
 color: white;
}
.line_Services-detail{
  border: 1px solid green;
  width: 100px;
  margin-top: 20px;
}
.p_servcies_detail{
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: #C8C8C8 ;
  word-spacing: 2px;
  
}


}








 



 
/* five images per line when browser width exceeds 1600px */


@media only screen and (max-width: 640px) {
  .grid-image {
    flex-basis: 50%;
  }
}
 
/* three images per line when browser width exceeds 960px */
/* @media only screen and (max-width: 960px) {
  .CloudServices_div2_1 {
    flex-basis: 20%;
  }
} */
 
/* four images per line when browser width exceeds 1280px */










  
