/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'roboto';
  /* overflow-y: hidden; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img {
  height: 89vh;
  background-image: url("../image/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
}
.img2 {
  height: 89vh;
  background-image: url("../image/bannerr.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
}
.img::before {
  background-color: rgba(0, 0, 0, 0.79);
  content: "";
  display: block;
  height: 89vh;
  position: absolute;
  width: 100%;
}
.img2::before {
  background-color: rgba(0, 0, 0, 0.79);
  content: "";
  display: block;
  height: 89vh;
  position: absolute;
  width: 100%;
}
.img3 {
  height: 89vh;
  background-image: url("../image/background_img3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
}
.img3::before {
  background-color: rgba(0, 0, 0, 0.79);
  content: "";
  display: block;
  height: 89vh;
  position: absolute;
  width: 100%;
}
.img4 {
  height: 89vh;
  background-image: url("../image/background_img4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
}
.img4::before {
  background-color: rgba(0, 0, 0, 0.79);
  content: "";
  display: block;
  height: 89vh;
  position: absolute;
  width: 100%;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_contact {
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  background-color: #229958;
  width: 161px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'roboto';
}
.btn_learn {
  margin-left: 13px;
  border-radius: 10px;
  border: 1px solid #229958;
  font-size: 16px;
  padding: 15px;
  background-color: #229958;
  width: 161px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: 'roboto';
}
.button1_home{
      
    margin-top: 50px;
    width: 45px;
    height: 10px;
    border-radius: 22px;
    border: none;
}
.button2_home{
     
    width: 20px;
    height: 10px;
    border-radius: 22px;
    border: none;
    margin-left: 8px;
}
.button3_home{

    height: 10px;
    width: 20px;
    border-radius: 22px;
    border: none;
    margin-left: 8px;
}
.button4_home{

    height: 10px;
    width: 20px;
    border-radius: 22px;
    border: none;
    margin-left: 8px;
}
.chat_upper_div{
  background-color: #229958;
  /* position: absolute; */
  /* text-align: center; */
  /* top: 82%; */
  /* left: 80%; */
  /* background-color: rgb(255, 255, 255); */
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  position: fixed;
  bottom: 89px;
  right: 17px;
  /* transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s; */
  opacity: 3;
  z-index: 9999;
  /* visibility: hidden; */
  border: none;
  cursor: pointer;
}
.chat_upper_div_1{
align-items: center;
  display: flex;
  
}
.chaticon{
  width: 20px;
  margin-left: 65%;
}
.chat_text{
  font-size: 14px;
  color: white;
  margin-left: 5px;
}
.cross{
  padding-right: 20px;
  padding-top: 14px;

}
.main_chat{

}
/* @media screen and (max-width: 1324px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    background-color:#229958;

    text-align: center;

  }
}
@media screen and (max-width: 1121px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
  
    background-color:#229958;

    text-align: center;

  }
}
@media screen and (max-width: 935px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    background-color:#229958;

    text-align: center;

  }
}
@media screen and (max-width: 722px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;

    height: 50px;
    background-color:#229958;

    text-align: center;

  }
  .chat_text{
    font-size: 14px;
    color: white;
    margin-left: 5px;
  }
  .cross{
   
    padding-right: 20px;
    padding-top: 14px;
    cursor: pointer;
  }
}
@media screen and (max-width: 675px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 40px;
    background-color:#229958;
    position: absolute;
    text-align: center;
    top: 85%;
    left: 65%;
  }
  .chat_text{
    font-size: 14px;
    color: white;
    margin-left: 5px;
  }
  .cross{

    padding-right: 20px;
    padding-top: 14px;
    cursor: pointer;
  }
  .chaticon{
    width: 15px;
  }
}
@media screen and (max-width: 540px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 30px;
    background-color:#229958;
    position: absolute;
    text-align: center;
    top: 88%;
    left: 65%;
  }
  .chat_text{
    font-size: 14px;
    color: white;
    margin-left: 5px;
  }
  .cross{
  width: 35px;
    padding-right: 20px;
    padding-top: 8px;
    cursor: pointer;
  }
  .chaticon{
    width: 15px;
  }
}
@media screen and (max-width: 517px) {
  .chat_upper_div{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    background-color:#229958;
    position: absolute;
    text-align: center;
    top:92%;
    left: 55%;
  }
  .chat_text{
    font-size: 12px;
    color: white;
    margin-left: 5px;
  }
  .cross{
  width: 32px;
    padding-right: 20px;
    padding-top: 8px;
    cursor: pointer;
  }
  .chaticon{
    width: 12px;
  }
} */

.btns {
  margin-top: 9%;
}
@media screen and (max-height: 520px) {
  .height {
    /* margin-top: 40px; */
    font-size: 10px;
  }
  .height2 {
    font-size: 10px;
  }
}

/* 
  @media (max-width:767px) {
    .img {
     height:882px !important;
       
        background-repeat: no-repeat;
        background-size: contain;
    
    }
}  
@media (max-width:540px) {
  .img {
   height:882px !important;
     
      background-repeat: no-repeat;
      background-size: contain;
  
  }
} 
 
@media (max-width:414px) {
  .img {
    height:895px !important;    
    background-repeat: no-repeat;
    background-size: contain;
    
  }
}
@media (max-width:412px) {
  .img {
   height: 910px !important;    
      background-repeat: no-repeat;
      background-size: contain;
  
  }
}
@media (max-width:425px) {
  .img {
   height: 880px !important;    
      background-repeat: no-repeat;
      background-size: contain;
  
  }
}
@media (max-width:393px) {
  .img {
    height:847px !important;    
    background-repeat: no-repeat;
    background-size: contain;
    
  }
}
@media (max-width:375px) {
  .img {
   height:880px !important;    
      background-repeat: no-repeat;
      background-size: contain;
  
  }
}
@media (max-width:360px) {
  .img {
   height:720px !important;    
      background-repeat: no-repeat;
      background-size: contain;
  
  }
}
@media (max-width:320px) {
  .img {
   height:882px !important;    
      background-repeat: no-repeat;
      background-size: contain;
  
  }
} */
.img::before {
  background-color: rgba(0, 0, 0, 0.79);
  content: "";
  display: block;
  height: 89vh;
  position: absolute;
  width: 100%;
}
.line {
  margin-top: 40px;
}
.height {
  font-size: 74px;
  
  color: white;
}
.height2 {
  font-size: 40px;
  color: white;
}
@media screen and (min-width: 2560px) {
  .height {
    text-align: center;

    font-size: 80px;
  }
  .height2 {
    font-size: 80px;
  }
  .btn_contact {
    border-radius: 10px;
    font-size: 30px;
    padding: 15px;
    background-color: #229958;
    width: 250px;
    color: white;
    border: none;
    height: 80px;
  }
  .btn_learn {
    font-family: "roboto";
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #229958;
    font-size: 30px;
    padding: 15px;
    background-color: #229958;
    width: 250px;
    background-color: transparent;
    height: 80px;
    color: white;
  }
  .p1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .height {
    font-size: 50px;
  }
  .height2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 720px) {
  .height {
    font-size: 40px;
  }
  .height2 {
    font-size: 40px;
  }
  .btn_contact {
    border-radius: 10px;
    font-size: 14px;
    padding: 15px;
    background-color: #229958;
    width: 134px;
    color: white;
    border: none;
}
.btn_learn {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #229958;
  font-size: 14px;
  padding: 15px;
  background-color: #229958;
  width: 133px;
  background-color: transparent;
  color: white;


}
}
@media screen and (max-width: 1457px) {
  .height {
    font-size: 50px;
  }
 
}
@media screen and (max-width: 1457px) {
  .height {
    font-size: 50px;
  }
 
}
@media screen and (max-width: 1220px) {
  .height {
    font-size: 36px;
  }
  .height2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 887px) {
  .height {
    font-size: 30px;
  }
  .height2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 100px) {
  .img {
    /* width: 100vw;
      background-image: url("../image/bannerr.svg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity:1; */
    background-position: center;
  }
  .img2 {
    /* width: 100vw;
      background-image: url("../image/bannerr.svg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity:1; */
    background-position: center;
  }
  .img3 {
    /* width: 100vw;
      background-image: url("../image/bannerr.svg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity:1; */
    background-position: center;
  }
  .img4 {
    /* width: 100vw;
      background-image: url("../image/bannerr.svg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity:1; */
    background-position: center;
  }
}
/* @media screen and (max-width: 400px ) {
    .height{
       font-size: 30px;
    }
    .height2{
      font-size: 30px;
   }
  }
  /* @media screen and (max-width: 450px ) {
   .img{
    height:max-content;
   }
  } */
@media screen and (max-width: 480px) {

  .height2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .height {
    /* margin-top: 40px; */
    font-size: 25px;
  }
  .height2 {
    font-size: 25px;
  }
}
@media screen and (max-height: 582px) {
  .height {
    /* margin-top: 40px; */
    font-size: 20px;
  }
  .height2 {
    font-size: 20px;
  }
}
@media screen and (max-height: 495px) {
  .height {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
  }
  .height2 {
    font-size: 15px;
  }
}
@media screen and (max-height: 444px) {
  .height {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
  }
  .height2 {
    font-size: 10px;
  }
}
