
.contain {
  width: 100%;
  background-color: white;
  height: auto;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.about_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  /* background-color: black; */
}
.aboutus {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  text-align: left;
  height: 59vh;
  /* background-color: blue; */
  width: 30%;
}
.img_line {
  width: 160px;
}
.about_img1 {
  width: 82%;
  height: 500px;

  opacity: 1.9;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.about_img2 {
  width:  40.6vw;
  height: 7vh;
}
.about_btn {
  font-size: 16px;
  align-items: flex-start;
  width: 162px;
  height: 54px;
  background-color: #444545;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "roboto";
  cursor: pointer;
}
.H_aboutus {
  font-size: 40px;
  text-align: left;
  font-family: "roboto";
  color: #229958;
}
.p_aboutus {
  margin-top: 20px;
  font-size: 18px;
  text-align: left;
  font-family: "roboto";
  color: #5f5e5e;
  line-height: 25px;
}

@media screen and (max-width: 900px) {
  .about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .about_img1 {
    width: 100%;
    height: 250px;
    opacity: 1.9;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.about_img2 {
  width: 50vw;
  height: 5vh;
}
  .aboutus {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    text-align: left;
    padding: 30px;

    width: 100%;
  }
  .aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    height: 59vh;

    width: 100%;
  }
  .H_aboutus {
    font-size: 40px;
    text-align: center;
    font-family: "roboto";
    color: #229958;
  }
  .aboutus_inner {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .H_aboutus {
    font-size: 30px;
    font-family: "roboto";

  }
  .p_aboutus {
    font-size: 13px;
    text-align: justify;
  
  }
  .about_btn {
    font-size: 15px;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    background-color: #72818b;
    color: white;
    border-radius: 10px;

  }
  .img_line {
    width: 120px;
  }
}

@media screen and (max-width: 425px) {
  .H_aboutus {
    font-size: 30px;
    font-family: "roboto";

  }
  .p_aboutus {
    font-size: 12px;
    text-align: justify;
    line-height: 18px;
  }
  .about_btn {
    font-size: 15px;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    background-color: #72818b;
    color: white;
    border-radius: 10px;

  }
  .img_line {
    width: 120px;
  }
}
@media screen and (max-width: 410px) {
  .H_aboutus {
    font-size: 30px;
    font-family: "roboto";

  }
  .p_aboutus {
    font-size: 12px;
    text-align: justify;
    line-height: 18px;
  }
  .about_btn {
    font-size: 15px;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    background-color: #72818b;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
  }
  .img_line {
    width: 120px;
  }
}

@media screen and (max-width: 375px) {
  .H_aboutus {
    font-size: 20px;
    font-family: "roboto";

  }
  .p_aboutus {
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
  }
  .about_btn {
    font-size: 15px;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    background-color: #72818b;
    color: white;
    border-radius: 10px;
  }
}

@media screen and (max-width: 280px) {
  .H_aboutus {
    font-size: 10px;
    font-family: "roboto";
 
  }
  .p_aboutus {
    font-size: 8px;
    text-align: justify;
    line-height: 18px;
  }
  .about_btn {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #72818b;
    color: white;
    border-radius: 10px;
  }
}
