/* 
.image-grid {

  display: flex;

  flex-wrap: wrap;

  width: 90%;

  margin: 0 auto;
}
.grid-image {

  display: block;
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
}
 

@media only screen and (min-width: 640px) {
  .grid-image {
    flex-basis: 50%;
  }
} */
 
/* three images per line when browser width exceeds 960px
@media only screen and (min-width: 960px) {
  .grid-image {
    flex-basis: 33.333%;
  }
}
 

@media only screen and (min-width: 1280px) {
  .grid-image {
    flex-basis: 25%;
  }
}
 

@media only screen and (min-width: 1600px) {
  .grid-image {
    flex-basis: 20%;
  }
} */
.contain{



     width: 100%;
  background-color: white;
  height: auto;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:90vh;

}
.about_img{
 /* margin-top: 20px; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 width:50%;
 /* background-color: black; */
}
.aboutus{

display: flex;
flex-direction: column;
 /* align-items: center; */
  justify-content:space-around;
  text-align: left;
  height: 38vh;
  /* background-color: blue; */
  width: 30%; 
}
.about_img1{
width: 82% ;
height: 60vh;
border-radius: 20px;
opacity: 1;
}
.about_img2{
 width: 40vw;
 height: 7vh;
}
.about_btn{
 font-size: 2vh;
 align-items:flex-start;
 width:120px;
 height: 60px;
 background-color: #72818b;
 color: white;
 border-radius: 16px;
}

@media screen and (max-width: 1139px ) {
.about{
  /* display: flex;
  flex-direction: column; */

}
}

